html{
    background-color: rgb(255, 255, 255);
}

.container{
    margin-top: 10px;
    width: 100%;
    border-top: solid 40px salmon;
}

.row{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

.col-33{
    width: 30%;
    height: 300px;
    margin: 20px;
    border-radius: 10px 10px 0px 0px;
    background-image: url(https://ae01.alicdn.com/kf/H199772570ae34633ad32e276e3ae5eddy.jpg);
    background-size: 100%;
    background-position: center;
}

.col-33-2{
    background-image: url(https://www.picclickimg.com/d/l400/pict/163997795760_/Cardistry-Touch-Origin-Playing-Cards-Sealed.jpg);
    
}

.col-33-3{
    background-image: url(https://images.unsplash.com/photo-1562766879-ce73e9394f94?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyZGlzdHJ5fGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
    
}

.sub1{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    box-sizing: border-box;
}

.sub1 h2{ 
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 2px 2px;
}

.sub2{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.sub2 a {
    width: 100%;
    padding-top: 10px;
    align-items: center;
}

.sub2 a button{
    width: 100%;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(184, 72, 59);
}

.sub2 a button:hover{
    background-color: salmon;
    transition: 1s;
    cursor: pointer;
}